# Dependencies
node_modules/

# Build outputs and artifacts
dist/
coverage/
.eslintcache
*.tgz

# Editor settings
.vscode/

.DS_Store

// Source - https://stackoverflow.com/a/67198084
// Posted by Nicholas Petersen, modified by community. See post 'Timeline' for change history
// Retrieved 2026-04-26, License - CC BY-SA 4.0

# ------- yarn -------
# see excellent notes at: https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
# Also: `yarn.lock` and `.yarnrc.yml` (or it's older counterpart .yarnrc) "should always be stored in your repo"
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.pnp.*

# ------- end yarn -------

.claude*
